*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat Alternates', sans-serif;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

.nav-logo {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 42px;
  line-height: 51px;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 64px 0;
}

.nav-logo span {
  color: #FE8C01;
}

.nav-list {
  height: fit-content;
  margin: auto;
}

.cart {
  height: fit-content;
  margin: auto 0 auto auto;
}

.nav-list ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-list li {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  color: #818282;
}

.nav-list li:hover {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FE8C01;
}

.hero-text-pre-article {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FE8C01;
}

.hero-text-article h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 155px;
  line-height: 189px;
  color: #232323;
}

.hero-text-article h1 span {
  font-style: normal;
  font-weight: 800;
  font-size: 155px;
  line-height: 189px;
  color: #FE8C01;
}

.hero-text-description {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #232323;
}

.hero-button-order a {
  background: #FE8C01;
  box-shadow: 0px 0px 20px -5px #FE8C01;
  border-radius: 100px;
  width: fit-content;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
  padding: 18px 80px;
  color: #FFFFFF;
}

.hero-button-order {
  display: flex;
}

.hero-button-order p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #C4C4C4;
}

.hero-left {
  gap: 30px;
  display: grid;
}

.hero-button-order p {
  height: fit-content;
  margin: auto auto auto 30px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
}

.section-header__title {
  text-decoration: underline 8px #FE8C01;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  text-align: center;
  color: #232323;
}

menu {
  margin: 150px 0;
}

.item__group {
  display: grid;
}

.filter {
  margin: 60px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 30px;
}

.filter-item {
  --size: 250px;
  max-width: var(--size);
  max-height: var(--size);
  background: #E9F8FB;
  text-align: center;
  border-radius: 16px;
  display: grid;
}

.hero-right img {
  width: 100%;
}

.hero-right {
  height: fit-content;
  margin: auto;
}

.item__group img {
  margin: auto auto 0;
}

.item__group p {
  padding: 0 0 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #232323;
  margin: auto auto 0 auto;
}

/* Стили каталога */
.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.catalog-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
}

.catalog-desc {
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  color: #E9F8FB;
}

.catalog-short-desc {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #E9F8FB;
}

.catalog-item-button {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  background-color: transparent;
  border: none;
  color: white;
}

.catalog-item {
  --size-item: 390px;
  width: var(--size-item);
  height: var(--size-item);
  border-radius: 16px;
  box-shadow: 0px 0px 50px -20px rgba(0, 0, 0, 0.25);
  color: white;
  background-size: cover;
  background-position: center, center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 33px;
  align-items: center;
}

.catalog-item>div:first-child {
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.catalog-item>div:last-child {
  margin-bottom: 30px;
}

.catalog-item.one {
  background-image: url('./assets/web-site-icons/item__image.png');
}

.catalog-item.to {
  background: linear-gradient(0deg, rgba(35, 35, 35, 0.3), rgba(35, 35, 35, 0.3)), url('./assets/web-site-icons/item__image (1).png');
}

.catalog-item.tree {
  background: linear-gradient(0deg, rgba(35, 35, 35, 0.3), rgba(35, 35, 35, 0.3)), url('./assets/web-site-icons/item__image (2).png');
}

.catalog-item.four {
  background: linear-gradient(0deg, rgba(35, 35, 35, 0.3), rgba(35, 35, 35, 0.3)), url('./assets/web-site-icons/item__image (3).png');
}

.catalog-item.five {
  background: linear-gradient(0deg, rgba(35, 35, 35, 0.3), rgba(35, 35, 35, 0.3)), url('./assets/web-site-icons/item__image (5).png');
}

.show-more {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  transition: 0.3s ease-in-out;
  color: #232323;
  background: #E9F8FB;
  border-radius: 100px;
  border: transparent;
  padding-inline: 70px;
  padding-block: 20px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  margin-top: 60px;
}

.show-more:hover {
  background-color: #232323;
  color: white;
}